body{
    margin: 0;
    background-color: #FAF6F6;   
}
head{
    margin: 0%;
}
.Pr-Head{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 8vh;
    display:flex;
}
.frame-1{
    width: 4.7%;
    height: 100%;
    background-color: #5CE1E6;
    margin: 0%;
}
.frame-2{
    width: 4.7%;
    height: 100%;
    background-color: #00C2CB;
    margin: 0%;
}
.frame-3{
    width: 4.7%;
    height: 100%;
    background-color: #03989E;
    margin: 0%;
}
.Title-PrH{
    position: fixed;
    left: 30%;
    margin-top: .3%;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    color: white;
}